body {
    background-image: url("background.svg");
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 0;
    margin: 0;
}

img {
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
}

nav {
    display: block;
    padding-bottom: 3em;
}

ul {
    list-style-type: none;
    display: block;
}

ul li {
    display: inline;
    font-size: 1.15em;
    margin-top: 16px;
    float: left;
    padding: 0;
}

ul li a {
    padding: 1em 1.4em;
    text-decoration: underline 2px rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    color: black;
}

ul li a:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}

main {
    margin: 0 auto;
    width: 80%;
}

.contentbox {
    display: inline-block;
    border: 1px grey solid;
    border-radius: 3px;
    margin: 1.25%;
    background-color: white;
    width: 45%;
}

@media screen and (max-width: 900px) {
    ul li {
        float: none;
        margin: 0;
    }

    img {
        float: none;
    }

}

@media screen and (max-width: 600px) {
    
    nav {
        padding-bottom: 1em;
    }
    
    ul li {
        display: none;
        margin: 0;
        padding: 0;
    }

    img {
        float: none;
        transform: translate(-10%, 0%);
        padding: 0;
        margin: 0 auto;
    }

    .contentbox {
        display: block;
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
}
